#card {
  height: 150px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px #c4cfd6 solid;
  border-radius: 25px;
  overflow: hidden;
}

#canvas-container {
  background-color: #c4cfd6;
  width: 400px;
  height: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#progress-mask {
  background-color: orange;
  width: 0px;
  height: 50px;
  position: absolute;
}

#position-mask {
  background-color: #00000026;
  width: 0px;
  height: 50px;
  position: absolute;
  z-index: 999;
}

#canvas {
  width: 400px;
  height: 50px;
  position: absolute;
  z-index: 9999;
}

#player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#play-btn {
  min-width: 60px;
  cursor: pointer;
  margin: 4px;
}

#audio-time {
  display: flex;
  align-items: center;
  cursor: default;
  margin: 4px;
}