#canvas-container {
  width: 400px;
  height: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#progress-mask {
  background-color: orange;
  width: 0px;
  height: 50px;
  position: absolute;
}

#position-mask {
  background-color: #00000026;
  width: 0px;
  height: 50px;
  position: absolute;
  z-index: 999;
}

#canvas {
  width: 400px;
  height: 50px;
  position: absolute;
  z-index: 9999;
}

#player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#play-btn {
  min-width: 60px;
  cursor: pointer;
}

#audio-time {
  display: flex;
  align-items: center;
  cursor: default;
}